*{
  margin: 0;
  padding: 0;
  font-family: "sans-serif";
  box-sizing:border-box;

}

.header{
  width: 100%;
  height: 100vh;
  background: gray;
  background-position: center;
  background-size: cover;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.navbar{
  display:flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  padding: 20px;
  align-items: center;

}

.logo{
  width: 120px;
  cursor: pointer;
}

.navbar ul li{
  display: inline-block;
  margin: 0 20px;
  position: relative;

}

.navbar ul li a{
  text-decoration: none;
  color: white;
}

.register-btn{
  color:black;
  text-decoration: none;
  border: solid orange;
  border-radius: 25px;
  width: 200px;
  padding: 20px;
  transition: 2s;
}

.register-btn:hover{
  background-color: white;
}

.content{
  width: 80%;
  height: 500px;
  background: gray;
  background-image: url('https://cdn.shopify.com/s/files/1/0585/2758/0299/files/2.0_homepagetop_banners4_1688x625_crop_center.jpg?v=1656096271');
  margin: 20px auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}

.feadcoln{
  padding: 0px 5% 40px 5%;
  width: 70%;
  margin:auto;

}

.feadcoln h3{
  font-size: 20px;
  font-weight: 500px;
  margin-bottom: 20px;
  padding: 20px 0px 0px;
  text-align: center;
}

.container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}

.container img{
  width: 40%;
  filter: grayscale(100%);
}



.bsellers{
  padding: 0px 5% 40px 5%;
  width: 90%;
  margin:auto;

}

.bsellers h3{
  font-size: 20px;
  font-weight: 500px;
  margin-bottom: 20px;
  padding: 20px 0px 0px;
  text-align: center;
}

.bcontainer{

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;


  width: 100%;
  height: 50vh;

  gap: 10px;

  justify-content: center;

}

.bcontainer img{
  height: 100%;
  width: 100%;
}

.bcontainer label, h5, p {
  font-weight: 500;
}

.bcontainer h5 span{
  text-decoration: line-through;
  color:black;

}

.bcontainer h5{
  color:red;
}

.a1 img{

}


.econtent{
  width: 80%;
  height: 500px;

  background-image: url('https://cdn.shopify.com/s/files/1/0585/2758/0299/files/homepage_2ndfoldnother_banner2_copy.jpg?v=1653724657');
  margin: 20px auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}
